<?xml version="1.0" encoding="UTF-8"?>
<config>
  <modules>
    <Facebook_AdsExtension>
      <version>2.6.0</version>
    </Facebook_AdsExtension>
  </modules>
  <global>
    <models>
      <Facebook_AdsExtension>
        <class>Facebook_AdsExtension_Model</class>
      </Facebook_AdsExtension>
    </models>
    <blocks>
      <Facebook_AdsExtension>
        <class>Facebook_AdsExtension_Block</class>
      </Facebook_AdsExtension>
    </blocks>
    <helpers>
      <Facebook_AdsExtension>
        <class>Facebook_AdsExtension_Helper</class>
      </Facebook_AdsExtension>
    </helpers>
    <events>
      <checkout_cart_product_add_after>
        <observers>
          <Facebook_AdsExtension_Cart_Observer>
            <type>object</type>
            <class>Facebook_AdsExtension_Model_Observer</class>
            <method>addToCart</method>
          </Facebook_AdsExtension_Cart_Observer>
        </observers>
      </checkout_cart_product_add_after>
      <controller_action_predispatch_adminhtml>
        <observers>
          <Facebook_AdsExtension_NoCache_Observer>
            <type>object</type>
            <class>Facebook_AdsExtension_Model_Observer</class>
            <method>disableCache</method>
          </Facebook_AdsExtension_NoCache_Observer>
        </observers>
      </controller_action_predispatch_adminhtml>
   </events>
  </global>
  <frontend>
    <layout>
      <updates>
        <FacebookAdsExtension
          module="Facebook_AdsExtension">
          <file>facebook_ads_extension.xml</file>
        </FacebookAdsExtension>
      </updates>
    </layout>
    <routers>
      <facebook_debug>
        <use>standard</use>
        <args>
          <module>Facebook_AdsExtension</module>
          <frontName>facebookadstoolbox</frontName>
        </args>
      </facebook_debug>
    </routers>
  </frontend>
  <admin>
    <routers>
      <adminhtml>
        <args>
          <modules>
            <Pixel after="Mage_Adminhtml">Facebook_AdsExtension_Adminhtml</Pixel>
          </modules>
        </args>
      </adminhtml>
    </routers>
  </admin>
  <adminhtml>
    <layout>
      <updates>
        <FacebookAdsExtension module="Facebook_AdsExtension_Adminhtml">
          <file>facebook_ads_extension.xml</file>
        </FacebookAdsExtension>
      </updates>
    </layout>
  </adminhtml>
  <crontab>
    <jobs>
      <facebook_ads_extension_feed_regenerate>
        <schedule>
          <cron_expr>59 00 * * *</cron_expr>
        </schedule>
        <run>
          <model>Facebook_AdsExtension/observer::generateFBProductFeed</model>
        </run>
      </facebook_ads_extension_feed_regenerate>
    </jobs>
  </crontab>
</config>
